<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{!-- {{> nav }}
    {{> login-modal }} --}}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 id="google-font">
                            <span class="blue-text">G</span><span class="red-text">o</span><span class="amber-text">o</span><span class="blue-text">g</span><span class="green-text">l</span><span class="red-text">e</span>
                        </h1>
                    </div>
                </div>
                <div class="row" id="search-form">
                    <div class="col s12">
                        <div class="row" id="search-bar">
                            <form class="col s12">
                                <i class="material-icons col s1" id="search-icon">search</i>
                                <input class="input-field col s8" id="search-field" type="search"></input>
                            </form>
                        </div>
                        <hr class="hidden">
                        {{!-- {{if recentSearch}} --}}
                        <div class="row hidden" id="recent-searches">
                            <div class="col s1 recents-icon">
                                <i class="material-icons" id="access_time">access_time</i>
                            </div>
                            <div class="sol s11">
                                <p class="recents-title">hello</p>
                            </div>
                        </div>
                        <div class="row hidden" id="recent-searches">
                            <div class="col s1 recents-icon">
                                <i class="material-icons" id="access_time">access_time</i>
                            </div>
                            <div class="sol s11">
                                <p class="recents-title">hello</p>
                            </div>
                        </div>
                    </div>
                    <div class="row not-hidden">
                        <div class="col s6 buttons">
                            <button type="button" class="right">
                                Google Search
                            </button>
                        </div>
                        <div class="col s6 buttons">
                            <button type="button">
                                I'm Feeling Lucky
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row not-hidden">
                    <div class="col s6 buttons">
                        <button type="button" class="right">
                            Google Search
                        </button>
                    </div>
                    <div class="col s6 buttons">
                        <button type="button">
                            I'm Feeling Lucky
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>

</body>