/* html { margin-left: calc(100vw - 100%); } */

#search-form {
    /* height: 45px; */
    border: 1px solid rgb(222, 222, 222);
    border-radius: 25px;
}

#search-form:hover {
    border: 1px solid white;
    box-shadow: 1px 1px 5px rgb(177, 177, 177);
}

#search-field:focus {
    box-shadow: none!important;
}

#search-icon {
    width: 19.6px;
    margin: 12px;
    margin-left: 3px;
    margin-right: 14px;
    padding: 0px;
    color: rgb(155, 155, 155);
    font-size: 1.4em;
}

#search-bar {
    margin-bottom: 0px;
}

hr {
    margin: 3px;
    margin-top: 1px;
    margin-bottom: 4px;
    height: 1px;
    background-color: rgb(222, 222, 222)!important;
    border: none;
}

#recent-searches {
    margin: 0px;
    margin-left: 4px;
    margin-right: 3px;
    height: 31.08px;
    padding-top: 7.36px;
}

#access_time {
    color: rgb(155, 155, 155);
    font-size: 1.2em;
}

.recents-icon {
    padding: 0px!important;
    margin-right: -8.53px;
}

p.recents-title {
    margin: 0px!important;
    margin-top: -1.5px!important;
}

#search-field {
    height: 42px!important;
    margin-bottom: 0px;
}

.buttons {
    padding: 0px!important;
}

button {
    height: 35.99px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 4px;
    margin-top: 19px;
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
}

#google-font {
    height: 91.99px;
    width: 271.99px;
    text-align: justify;
}


  .search-close-icon{
    display: none!important;
    position: absolute;
    top: 0;
    left: 100%!important;
    padding-left: 0px;
    color: rgba(0, 0, 0, 0.54);
    transition: color .2s;
    cursor: pointer;
  }
  
  
  .my-grey{
    background: #f7f7f7;
  }
  
  #search-field {
    font-weight: 500;
    color: rgb(0, 0, 0);
    border: 0;
    height: 44px;
    transition: background 0.2s, width .2s;
  }
  input.search-field:hover {
    background: #ebebeb;
  }
  .searchbox {
    position: relative;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.54);
  }
  input.search-field:focus {
    outline: none;
    width: 500px;
    color: #212121;
  }
  input.search-field:focus:hover {
    background: #f7f7f7;
  }
  .search-content {
    color: #303c42;
    width: 90%;
    margin: auto;
    height: auto;
    padding: 8px 10px;
  }
  .search-heading {
    color: #757575;
    display: block;
    font-size: 12px;
    line-height: 30px;
  }
  input.search-field ~ .search-popup {
    overflow: hidden;
    left: 0px;
    min-height: 50px;
    max-height: 700px;
    width: 200px;
    top: -450px; 
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: width .2s, top .2s ease-in-out;
    border-radius: 2px;
    background-color: #fff;
  }
  input.search-field:focus ~ .search-popup {
    width: 500px;
    top: 50px;
  }
  
  @media only screen and (max-width: 600px) {
   
    
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: transparent;
    }
  
    input.search-field {
      width: 1px;
      margin-right: 0px;
      padding: 8px 25px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    input.search-field ~ .search-popup {
      width: 1px;
      margin-right: 0px;
      padding: 8px 25px;
    }
  
    input.search-field:focus {
      margin-right: 0px;
      width: 100vw;
      padding: 8px 8px 8px 50px;
    }
  
    input.search-field:focus ~ .search-popup {
      width: 100vw;
    }
  
    .search-content {
      width: 100%;
      padding: 8px 8px;
    }
  }
  